<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
                                           xmlns:content="http://purl.org/rss/1.0/modules/content/"
                                           xmlns:wfw="http://wellformedweb.org/CommentAPI/"
                                           xmlns:dc="http://purl.org/dc/elements/1.1/"
                                           xmlns:atom="http://www.w3.org/2005/Atom"
                                           xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
                                           xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
>

    <channel>
        <title>EVS Translations Blog</title>
        <f:for each="{news}" as="newsItem">
            <item>
                <title>{newsItem.title}</title>
                <link>{newsItem.link}</link>
                <pubDate>{newsItem.date}</pubDate>
                <description><f:format.cdata>{newsItem.description -> f:format.raw()}></f:format.cdata></description>
            </item>
        </f:for>
    </channel>
</rss>
