<f:form name="filter">
    <label>
        Suchbegriff
        <f:form.textfield property="searchword" value="{filter.searchword}" />
    </label>

    <label>
        Ausganssprache
        <f:form.select property="from" options="{de:'de',en:'en'}" value="{filter.from}" prependOptionValue="" prependOptionLabel="Sprache wählen..." />
    </label>

    <f:form.submit value="Jetzt filtern" />
</f:form>

<f:comment>
    Example field rendering:
    <input type="text" name="tx_translation_pi1[filter][searchword]" />
    <input type="text" name="tx_translation_pi1[filter][from]" />
    <input type="text" name="tx_translation_pi1[filter][to]" />
</f:comment>
